@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --contraste: #fcba06;
  --color-tarjeta: #e0e0e0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* global.scss */
.neumorphism {
  border-radius: 12px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 11px 11px 22px #a1a1a1, -11px -11px 22px #ffffff;
}

.boxShadow {
  box-shadow: 11px 11px 22px #a1a1a1, -11px -11px 22px #ffffff;
}

.fondoTarjeta{
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fcba06;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e09145;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fcba06;
}